.gameStart .containerGame{
    width: 80%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.gameStart .containerGame .playerOneBox,
.gameStart .containerGame .playerTwoBox{
    width: 30%;
    height: 400px;
    background-color: #D42215;
    margin: 0 100px;
    border-radius: 5px;
    border: 5px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: inset 0px 0 7px 3px rgba(0,0,0,0.6 );
}
.buttonPlayer{
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%
    );
}
.gameStart .containerGame .playerOneBox .carouselChoices,
.gameStart .containerGame .playerTwoBox .carouselChoices{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: inset 0px 0 7px 3px rgba(0,0,0,0.8 );
    display: flex;
    justify-content: center;
    align-items: center;
}
.carouselChoices img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}